<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            PCOS Test
        </title>
        <link rel="stylesheet" href="static/css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
        </style>

    </head>
    <body>
       
        <nav class="navbar-2">
                <p>Women's health is one of our highest priorities ❤️</p>
        </nav>
        <div class="heading">
           <br>
           <img src="static/pcos awareness month at flo.jfif" alt="lady image">
           <div class="middle-container">
            <h1>Polycystic Ovary Syndrome (PCOS)</h1>
            <h2> Prognostication Application </h2> 
           <p class="intro"> 
        Polycystic Ovary Syndrome (PCOS) affects 1 in 10 women of childbearing age and still goes undiagnosed in up to 70% of affected women. It can lead to health conditions such as infertility, diabetes, and cardiovascular disease. Our goal is to support millions of women who have this condition, and bring peace of mind to others who may suspect they have it.</p>
        <a class="btn-cae" href="#form">SELF EVALUATION TEST</a>
        <br>
        </div>
       </div>
       <div class="bottom-container">
        <h3></h3>
        </div>
        <br>
        <br>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark text-white border-bottom shadow-sm"></div>
        <div class="container p-3 my-3 bg-secondary text-white">
          {% if POC_not_detected %}
            <div class="alert alert-success">{{POC_not_detected}}</div>
          {% elif POC_detected %}
            <div class="alert alert-danger">{{POC_detected}}</div>
          {% endif %}
        <div class="container p-3 my-3 bg-info text-black" id="form">
            <h3 class="font"><b>Enter Details:</b></h3>
            <hr>

            <form  class="form-group" action="/" methods = "POST">
                <label for="Input"><h5>Enter your age</h5></label>
                <input class="form-control" name="age" type="number"><br>
    
                <h4 class="font"><u>Rate below according to your hair growth in various body parts [5-extreme 1-lowest]</u></h4>
    
                <br><hr>
               
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group1">
                    <label for="Input" color class="pg"><h5 class="font">1.Chin hair: &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="chinHair" id="1" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="1"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="chinHair" id="2" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="2"><b>2</b></label>
                  
                    <input type="radio" class="btn-check" name="chinHair" id="3" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="3"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="chinHair" id="4" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="4"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="chinHair" id="5" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="5"><b>5</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group2">
                    <label for="Input" color class="pg"><h5 class="font">2.Cheeks: &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="cheeksHair" id="6" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="6"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="cheeksHair" id="7" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="7"><b>2</b></label>
                  
                    <input type="radio" class="btn-check" name="cheeksHair" id="8" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="8"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="cheeksHair" id="9" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="9"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="cheeksHair" id="10" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="10"><b>5</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group3">
                    <label for="Input" color class="pg"><h5 class="font">3.Upper Lips:&nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="upperLipHair" id="11" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="11"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="upperLipHair" id="12" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="12"><b>2</b></label>
                  
                    <input type="radio" class="btn-check" name="upperLipHair" id="13" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="13"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="upperLipHair" id="14" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="14"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="upperLipHair" id="15" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="15"><b>5</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group4">
                    <label for="Input" color class="pg"><h5 class="font">4.Between Breast: &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="betweenBreastHair" id="16" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="16"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="betweenBreastHair" id="17" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="17"><b>2</b></label>
                  
                    <input type="radio" class="btn-check" name="betweenBreastHair" id="18" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="18"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="betweenBreastHair" id="19" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="19"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="betweenBreastHair" id="20" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="20"><b>5</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group5">
                    <label for="Input" color class="pg"><h5 class="font">5.Arms: &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="armsHair" id="21" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="21"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="armsHair" id="22" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="22"><b>2</b></label>
                  
                    <input type="radio" class="btn-check" name="armsHair" id="23" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="23"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="armsHair" id="24" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="24"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="armsHair" id="25" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="25"><b>5</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group6">
                    <label for="Input" color class="pg"><h5 class="font">6.Inner thighs: &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="innerThighHair" id="26" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="26"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="innerThighHair" id="27" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="27"><b>2</b></label>
                  
                    <input type="radio" class="btn-check" name="innerThighHair" id="28" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="28"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="innerThighHair" id="29" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="29"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="innerThighHair" id="30" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="30"><b>5</b></label>
                  </div>
                  <hr><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group7">
                    <label for="Input" color class="pg"><h5 class="font">How many days in a week you exercise? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="exercise" id="31" value="0" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="31"><b>0</b></label>
                  
                    <input type="radio" class="btn-check" name="exercise" id="32" value="1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="32"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="exercise" id="33" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="33"><b>2</b></label>
    
                    <input type="radio" class="btn-check" name="exercise" id="34" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="34"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="exercise" id="35" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="35"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="exercise" id="36" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="36"><b>5</b></label>
    
                    <input type="radio" class="btn-check" name="exercise" id="37" value="6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="37"><b>6</b></label>

                    <input type="radio" class="btn-check" name="exercise" id="38" value="7" autocomplete="off">
                    <label class="btn btn-outline-primary" for="38"><b>7</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group8">
                    <label for="Input" color class="pg"><h5 class="font">How many times a week do you eat outside? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="eatOutside" id="39" value="0" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="39"><b>0</b></label>
                  
                    <input type="radio" class="btn-check" name="eatOutside" id="40" value="1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="40"><b>1</b></label>
                  
                    <input type="radio" class="btn-check" name="eatOutside" id="41" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="41"><b>2</b></label>
    
                    <input type="radio" class="btn-check" name="eatOutside" id="42" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="42"><b>3</b></label>
    
                    <input type="radio" class="btn-check" name="eatOutside" id="43" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="43"><b>4</b></label>
    
                    <input type="radio" class="btn-check" name="eatOutside" id="44" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="44"><b>5</b></label>
    
                    <input type="radio" class="btn-check" name="eatOutside" id="45" value="6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="45"><b>6</b></label>

                    <input type="radio" class="btn-check" name="eatOutside" id="46" value="7" autocomplete="off">
                    <label class="btn btn-outline-primary" for="46"><b>7</b></label>
                  </div>
                  <br><br>
    
                  
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group9">
                    <label for="Input" color class="pg"><h5 class="font">Have you ever been diagnosed with PCOS? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="Diagnosed" id="47" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="47"><b>Yes</b></label>
                  
                    <input type="radio" class="btn-check" name="Diagnosed" id="48" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="48"><b>No</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group10">
                    <label for="Input" color class="pg"><h5 class="font">Are you overweight according to your BMI? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="Overweight" id="49" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="49"><b>Yes</b></label>
                  
                    <input type="radio" class="btn-check" name="Overweight" id="50" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="50"><b>No</b></label>
                  </div>
                  [<a href="https://www.calculator.net/bmi-calculator.html" class="bmi">Check your BMI</a>]
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group11">
                    <label for="Input" color class="pg"><h5 class="font">Experienced rapid weight gain? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="Weightgain" id="51" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="51"><b>Yes</b></label>
                  
                    <input type="radio" class="btn-check" name="Weightgain" id="52" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="52"><b>No</b></label>
                  </div>
                  <br><br>
    
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group12">
                    <label for="Input" color class="pg"><h5 class="font">Missed your periods or had irregular periods? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="Periods" id="53" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="53"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="Periods" id="54" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="54"><b>No</b></label>
                  </div>
                  <br><br>
    
                  
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group13">
                    <label for="Input" color class="pg"><h5 class="font">Faced difficulty in conceiving?&nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="Conceiving" id="55" value="yes" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="55"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="Conceiving" id="56" value="no" autocomplete="off">
                    <label class="btn btn-outline-primary" for="56"><b>No</b></label>
                </div>
                <br><br>
    
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group14">
                    <label for="Input" color class="pg"><h5 class="font">Acne or skin tagging problems?&nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="AcneOrskinTag" id="57" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="57"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="AcneOrskinTag" id="58" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="58"><b>No</b></label>
                </div>
                <br><br>
    
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group15">
                    <label for="Input" color class="pg"><h5 class="font">Experienced hair thinning or hairfall? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="HairThinning" id="59" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="59"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="HairThinning" id="60" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="60"><b>No</b></label>
                </div>
                <br><br>
    
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group16">
                    <label for="Input" color class="pg"><h5 class="font">Dark patches on back of neck? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="DarkPatch" id="61" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="61"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="DarkPatch" id="62" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="62"><b>No</b></label>
                </div>
                <br><br>
    
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group17">
                    <label for="Input" color class="pg"><h5 class="font">Feeling of tiredness? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="Tiredness" id="63" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="63"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="Tiredness" id="64" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="64"><b>No</b></label>
                </div>
                <br><br>
    
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group18">
                    <label for="Input" color class="pg"><h5 class="font">Mood swings more often than usual? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="MoodSwings" id="65" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="65"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="MoodSwings" id="66" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="66"><b>No</b></label>
                </div>
                <br><br>
    
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group19">
                    <label for="Input" color class="pg"><h5 class="font">Did you consume canned food more often? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="CannedFood" id="67" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="67"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="CannedFood" id="68" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="68"><b>No</b></label>
                </div>
                <br><br>
    
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group20">
                    <label for="Input" color class="pg"><h5 class="font">Did you move to different location? &nbsp;</h5></label>
                    <input type="radio" class="btn-check" name="City" id="69" value="1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="69"><b>Yes</b></label>
                    <input type="radio" class="btn-check" name="City" id="70" value="0" autocomplete="off">
                    <label class="btn btn-outline-primary" for="70"><b>No</b></label>
                </div>
                <br><br>
                <button class="btn btn-dark" type="submit"><b>Submit</b></button>
            </form>
            </div>
            </div>
            <footer id="footer-cae">
               &copy 2021 Team Ctrl_Alt_Elite
            </footer>
        </div>
    </body>
</html>